/*Seccion nosotros*/

.nosotros {
    background-color: #e7c9c9;
}

.nosotros p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    color: #363434;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.nosotros h3{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.nosotros img{
    width: 800px;
    margin-bottom: 2rem;
}

.nosotros-img{
    display: flex;
    justify-content: center;
}

