@import "variables";
@import "inicio";
@import "contacto";
@import "nosotros";
@import "productos";
@import "preguntas";
@import "mixins";



/*Para todas las secciones del sitio*/






@media screen and (min-width:320px) and (max-width: 767px){

    /*Seccion inicio*/

    h1{
        font-size: 50px;
    }

    .header{
        max-width: 100%;
        gap: 4rem;
        padding: 20px;
    }

    .header__logo{
        width: 50px;
        height: 50px;
    }
    
    .imagen__carrusel{
        width: 89%;
        height: 200px;
        max-width: 100%;
    }

    .conoceh2{
        font-size: 30px;
    }

    .cart2 svg{

        width: 2rem;
        height: 2rem;
    }

    .card__caja{
        grid-template-columns: repeat(2, 1fr);
         grid-column: auto;
    }
    
    .card__imagen{
        width: 10rem;
        height: 10rem;
        max-width: 100%;
        margin: auto;
        
    }
    /*operacion aplicada */

    .card__productos{
        
        width: calc($ancho-carduno - 6rem);
        height: calc($alto-carduno - 6rem);
        margin: auto;
        margin-top: 1rem;
        gap: 1rem; 
        padding: 10px;
       
        padding-bottom: 5rem;
        
       
        max-width: 100%;
    } 

    .card__productos:hover{
        transform: scale(1.05);
        transition: all ease-in-out 1s;
    }

    .card__enlace{
        margin-top: 10px;
        font-weight: bold;
        font-size: 14px;
        padding: 5px 5px;
       margin-left: 2rem;
    }

    .promo{
         width: 14rem;
        height: 12rem; 
        max-width: 100%;
        margin-bottom: 18px;
    }

    .promo:hover{
        transform: scale(1.07);
        transition: all ease-in-out 1s;
    }

    .card__productos--oferta{
        flex-direction: column;
        align-items: center;
        margin-top: auto;
    }

    /*se agregar operacion*/

    .whatsapp img {
        width: calc($ancho-wsp - 30px);
        height: calc($alto-wsp - 30px);
    }

    .whatsapp{
        right: 0.1rem;
    }


    /*Nosotros*/

    .nosotros img{
        width: 80%;
    }


    /*Preguntas*/

    .container-fluid iframe{
        max-width: 100%;
        height: 15rem;
    }


    .pregunta{
        font-size: 17px;
    }

    .respuesta{
        font-size: 15px;
    }
    
    /*Contacto*/

    .form-1{
        padding-left: 15px;
    }

    .form-1 legend{
        font-size: 20px;
    }

    .form-1 label{
        font-size: 14px;
    }
    
    .form-1 p{
        font-size: 14px;
    }

    .form__boton{
        font-size: 12px;
    }

    .form-1 textarea{
        max-width: 100%;
    }

    .form__boton--enviar{
        font-size: 12px;
        margin-left: 10px;
    }

    .form__boton--limpiar{
        font-size: 12px;
        margin-left: 10px;
    }

    .contacto h3{
        font-size: 20px;
    }

    .contacto2{
        font-size: 13px;
    }

    /*Productos*/

    .prod-h2{
        font-size: 30px;
    }

    .cart{
        width: 2rem;
        height: 2rem;
    }

    .card__caja2{
        grid-template-columns: repeat(2, 1fr);
         grid-column: auto;
        
    }

    .card__imagen2{
        width: 8rem;
        height: 8rem;
        max-width: 100%;
        margin: auto;
        
    }

    .card__productos2{
        width: 9rem;
        height: 15rem;
        margin: auto auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-left: 13px;
        padding-right: 10px;
        padding-bottom: 4rem;
        max-width: 100%;
    } 

    .card__productos2:hover{
        transform: scale(1.07);
        transition: all ease-in-out 1s;
    }
    
    .card__productos2 p{
        font-size: 18px;
        line-height: 0.8;
    }

    }





    @media screen and (min-width:768px) and (max-width: 1024px){
     
        /*Inicio*/   
       h1{
           font-size: 60px;
       }
       
        h2{
           font-size: 20px;
       }    
    
       .header{
           gap: 4rem;
       }
    
        .header__logo{
           width: 65px;
           height: 65px;
        }
           
         .imagen__carrusel{
           width: 89%;
           height: 200px;
            max-width: 100%;
            } 
    
       .card__caja{
           grid-template-columns: repeat(2, 1fr);
           grid-column: auto;
               
           } 
           
        .card__imagen{
           width: 16rem;
           height: 15rem;
           max-width: 100%;
            margin: auto;     
        }    
    
        .card__productos{
           width: 18rem;
          height: 21rem;
          margin: auto auto;
           margin-top: 3rem;
           max-width: 100%;
           }  
    
        .card__enlace{
               margin-top: 10px;
               margin-left: 5rem;
              font-weight: bolder;
              font-size: 20px;
             padding: 5px 5px;
       }  
       

       
       .lista-navegacion a{
          font-weight: 100px;
     }   
       
       .promo{
        width: 15rem;
        height: 16rem;
        margin-top: 2rem;
    }
    
      .card__productos--oferta{
       gap: 1rem;
      }
    
       .card__productos--oferta{
       gap: 10px;
     }
    
       /*Operacion */
    
       .whatsapp img{
         width: calc($ancho-wsp - 20px);
          height: calc($alto-wsp - 20px);
       }
    
     /*Nosotros*/
    
      .nosotros img{
           max-width: 100%;
           width: 90%;
      }
    
      /*productos*/
    
      .card__imagen2{
           width: 12rem;
           height: 12rem;
           max-width: 100%;
            margin: auto;
            margin-right: 4rem;  
      }
    
      .card__productos2{
       width: 13rem;
       height: 21rem;
       padding-right: 15px;
      }

      .card__productos2 p{
        font-size: 27px;
      }
       } 




